BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 0
AllowShortFunctionsOnASingleLine: Empty
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterNamespace: false
  AfterControlStatement: false
  AfterEnum: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
AllowShortFunctionsOnASingleLine: false
IncludeBlocks: Preserve

